.taskItem {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.taskItem button {
    margin-right: 10px
}

.taskItem.completed .taskText{
    opacity: 0.5;
    text-decoration: line-through;
}